<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Update - AppWeb</title>
  <!-- CSS FILES -->
  <link rel="stylesheet" href="materialize/css/materialize.min.css">
  <link rel="stylesheet" href="icons-fonts/style.css">
  <link rel="stylesheet" href="css/loading.css">
  <link rel="stylesheet" href="css/update.css">
</head>
<body data-script="update">
  <div class="cog d-none">
    <div class="downart"></div>
  </div>
  <div class="body">
    <div class="reintentar d-none">
      <div class="ret">
        Reintentar
      </div>
      <span class="rtcode z-depth-2">
        Ctrl
      </span>
      <span class="rtcode transparent ritmas">
        +
      </span>
      <span class="rtcode z-depth-2">
        R
      </span>
    </div>
    <div class="wrapper">
      <div class="circle"></div>
      <div class="circle"></div>
      <div class="circle"></div>
      <div class="shadow"></div>
      <div class="shadow"></div>
      <div class="shadow"></div>
      <div class="avisodes">
        <span class="title">Cargando...</span>
        <div class="progrees">
          <div class="set_progrees"></div>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="footerapp center-text">
        <h5>AppWeb</h5>
        <div class="iconoredes">
          <a href="#app" data-link="https://www.facebook.com/lokuedo5000" class="tooltipped cwI-facebook" data-position="top" data-tooltip="Facebook"></a>
          <a href="#app" data-link="https://twitter.com/lokuedo5000" class="tooltipped cwI-twitter" data-position="top" data-tooltip="Twitter"></a>
          <a href="#app" data-link="https://www.youtube.com/c/lokuedo5000naancesBVH198?sub_confirmation=1" class="tooltipped cwI-youtube" data-position="top" data-tooltip="YouTube"></a>
          <a href="#app" data-link="https://github.com/lokuedo5000" class="tooltipped cwI-github" data-position="top" data-tooltip="GitHub"></a>
        </div>
        <div class="cospy">&copy; 2021 AppWeb - <a href="#app" data-link="https://www.youtube.com/c/lokuedo5000naancesBVH198?sub_confirmation=1">lokuedo5000</a></div>
      </div>
    </div>
  </div>

  <script src="js/jquery-3.5.1.js" charset="utf-8"></script>
  <script src="materialize/js/materialize.min.js" charset="utf-8"></script>
  <script src="materialize/js/init.js" charset="utf-8"></script>
</body>
</html>
