
<div class="carousel-item red white-text" href="#one!" style="background-image: url(https://i.imgur.com/pgeqb6N.png);">
                  <div class="datarec">
                    <div class="defcover cover_img" style="background-image: url(https://i.imgur.com/uNh8Set.png);">

                    </div>
                    <div class="defcover cover_text">
                      <div class="scroll_cover">
                        <div class="sprt-text cover_titulo">
                          AppWeb 1.0.2
                        </div>
                        <div class="sprt-text versionart">
                          <span class="vers">Version:</span> <span class="textvers">Portable</span>
                        </div>
                        <div class="sprt-text versionart">
                          <span class="vers">Desarrolladora:</span> <span class="textvers">lokuedo5000</span>
                        </div>
                        <div class="sprt-text dcpmini">
                          hola appweb es desarrollada por lokuedo5000, appweb es una aplicación web para escritorio creada con el lenguaje (Node JS, Electron JS, Express JS), en appweb se publicara programa...
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
<div class="carousel-item red white-text" href="#one!" style="background-image: url(https://i.imgur.com/275h2GF.jpg);">
                  <div class="datarec">
                    <div class="defcover cover_img" style="background-image: url(https://i.imgur.com/7Xl3QsE.png);">

                    </div>
                    <div class="defcover cover_text">
                      <div class="scroll_cover">
                        <div class="sprt-text cover_titulo">
                          Max Payne 1
                        </div>
                        <div class="sprt-text versionart">
                          <span class="vers">Version:</span> <span class="textvers">Portable</span>
                        </div>
                        <div class="sprt-text versionart">
                          <span class="vers">Desarrolladora:</span> <span class="textvers">Remedy Entertainment</span>
                        </div>
                        <div class="sprt-text dcpmini">
                          El juego comienza a inicios de 2001, en Nueva York, en la peor tormenta de nieve en la historia de la ciudad. En la secuencia introductoria, Max Payne, un agente de la DEA y ex-age...
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
<div class="carousel-item red white-text" href="#one!" style="background-image: url(https://i.imgur.com/vhIjENu.jpg);">
                  <div class="datarec">
                    <div class="defcover cover_img" style="background-image: url(https://i.imgur.com/MjptUre.jpg);">

                    </div>
                    <div class="defcover cover_text">
                      <div class="scroll_cover">
                        <div class="sprt-text cover_titulo">
                          Far Cry 1
                        </div>
                        <div class="sprt-text versionart">
                          <span class="vers">Version:</span> <span class="textvers">Portable</span>
                        </div>
                        <div class="sprt-text versionart">
                          <span class="vers">Desarrolladora:</span> <span class="textvers">Crytek, Ubisoft Montreal, Ubisoft Toronto</span>
                        </div>
                        <div class="sprt-text dcpmini">
                          Un tranquilo paseo por las islas de Micronesia. Adornada por sus preciosos paisajes y por los vehículos y fortificaciones abandonados por los japoneses tras su derrota en la Segund...
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
<div class="carousel-item red white-text" href="#one!" style="background-image: url(https://i.imgur.com/rf4wrcd.png);">
                  <div class="datarec">
                    <div class="defcover cover_img" style="background-image: url(https://i.imgur.com/WgU10n9.jpg);">

                    </div>
                    <div class="defcover cover_text">
                      <div class="scroll_cover">
                        <div class="sprt-text cover_titulo">
                          Camtasia Studio 8
                        </div>
                        <div class="sprt-text versionart">
                          <span class="vers">Version:</span> <span class="textvers">Instalable</span>
                        </div>
                        <div class="sprt-text versionart">
                          <span class="vers">Desarrolladora:</span> <span class="textvers">TechSmith</span>
                        </div>
                        <div class="sprt-text dcpmini">
                          Camtasia (pronunciación: /kæmˈteɪʒə/), anteriormente Camtasia Studio y Camtasia para Mac, es una suite o conjunto de programas, creados y publicados por TechSmith,1​ para crear tut...
                        </div>
                      </div>
                    </div>
                  </div>
                </div>