<footer class="page-footer">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">AppWeb</h5>
        <p class="grey-text text-lighten-4">
          Version - 1.0.2 | Idioma - Español
          <br>
          @lokuedo5000 | loketre50@gmail.com
        </p>
      </div>
      <div class="col l4 offset-l2 s12">
        <h5 class="white-text">Redes</h5>
        <div class="iconoredes">
          <a href="#app" data-link="https://www.facebook.com/lokuedo5000" class="opa tooltipped cwI-facebook" data-position="top" data-tooltip="Facebook"></a>
          <a href="#app" data-link="https://twitter.com/lokuedo5000" class="opa tooltipped cwI-twitter" data-position="top" data-tooltip="Twitter"></a>
          <a href="#app" data-link="https://www.youtube.com/c/lokuedo5000naancesBVH198?sub_confirmation=1" class="opa tooltipped cwI-youtube" data-position="top" data-tooltip="YouTube"></a>
          <a href="#app" data-link="https://github.com/lokuedo5000" class="opa tooltipped cwI-github" data-position="top" data-tooltip="GitHub"></a>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
      © 2021 Copyright AppWeb - by <a href="#">lokuedo5000</a>
      <a class="grey-text text-lighten-4 right" href="#!">Join App Web</a>
    </div>
  </div>
</footer>
