<ul id="slide-out" class="sidenav">
  <li>
    <div class="user-view">
      <div class="background">

      </div>
      <a href="#user"><img class="circle" src="images/appwebicono.png"></a>
      <a href="#name"><span class="white-text name">@lokuedo5000</span></a>
      <a href="#email"><span class="white-text email">loketre50@gmail.com</span></a>
    </div>
  </li>
  <li><a class="subheader">Buscar</a></li>
  <div class="inputsearch">
    <form autocomplete="off" spellcheck="false" method="get" action="/search" id="searchform">
      <input type="text" class="inputsearch" id="autoComplete" name="v" type="text" dir="ltr" spellcheck=false autocorrect="off" autocomplete="off" autocapitalize="off" maxlength="2048" tabindex="1">
      <button class="searchbtnmenu cwI-search1" id="btn-envio"></button>
    </form>
  </div>
  <li>
    <div class="divider"></div>
  </li>
  <li><a class="subheader">Menu</a></li>
  <li><a class="waves-effect" href="/">Inicio</a></li>
  <li><a class="waves-effect" href="/games">Juegos</a></li>
  <li><a class="waves-effect" href="/programs">Programas</a></li>
  <li><a class="subheader">Redes</a></li>
  <li>
    <a class="waves-effect opa" href="#!" data-link="https://www.facebook.com/lokuedo5000">
      <span class="conts">
        <span class="cwI-facebook-with-circle"></span>Facebook
      </span>
    </a>
  </li>
  <li>
    <a class="waves-effect opa" href="#!" data-link="https://twitter.com/lokuedo5000">
      <span class="conts">
        <span class="cwI-twitter-with-circle"></span>Twitter
      </span>
    </a>
  </li>
  <li>
    <a class="waves-effect opa" href="#!" data-link="https://www.youtube.com/c/lokuedo5000naancesBVH198?sub_confirmation=1">
      <span class="conts">
        <span class="cwI-youtube-with-circle"></span>YouTube
      </span>
    </a>
  </li>
  <li>
    <a class="waves-effect opa" href="#!" data-link="https://github.com/lokuedo5000">
      <span class="conts">
        <span class="cwI-github-with-circle"></span>GitHub
      </span>
    </a>
  </li>
</ul>
