<!-- Dropdown Structure -->
<ul id="dropdown1" class="dropdown-content">
  <li><a href="#!">one</a></li>
  <li><a href="#!">two</a></li>
  <li class="divider"></li>
  <li><a href="#!">three</a></li>
</ul>
<nav class="menubg">
  <div class="app-c app-c-80">
    <div class="nav-wrapper">
      <a href="#!" class="brand-logo">AppWeb</a>
      <!-- <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a> -->
      <a href="#" data-target="slide-out" class="sidenav-trigger"><i class="cwI-menu"></i></a>
      <ul class="right hide-on-med-and-down">
        <li><a href="/">Inicio</a></li>
        <li><a href="/games">Juegos</a></li>
        <li><a href="/programs">Programas</a></li>
        <li><a href="#" data-target="slide-out" class="searchbtn"><i class="cwI-search3"></i></a></li>
        <!-- Dropdown Trigger -->
        <!-- <li><a class="dropdown-trigger" href="#!" data-target="dropdown1">Dropdown<i class="material-icons right">arrow_drop_down</i></a></li> -->
      </ul>
    </div>
  </div>
</nav>
<!-- PLAY VIDEO -->
<%- include('../partial/videoplay.ejs') %>
<div class="d-none">
  <div class="linkweb_open"></div>
</div>
